/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* generic rules */

html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background: linear-gradient(#3535ec, #b62897);
  background-attachment: fixed;
  color: white;
}

/* main container */

.container {
  width: 90%;
  margin: 0 auto;
  padding: 16px;
}

/* Logo */
header img {
  width: 56px;
}

/* Textarea */
textarea {
  margin-top: 32px;
  margin-bottom: 32px;
  width: 100%;
  height: 120px;
  resize: none;
  outline: none;
  border: none;
  border-radius: 16px;
  font-size: 20px;
  padding: 24px;
  font-family: 'Roboto', sans-serif;
}